.action-bar {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
}

.action-bar:hover {
    opacity: 1;
    transition: opacity .3s;
}

.badge {
    padding: 5px;
    font-size: 1rem;
    border-radius: 0;
    justify-content: center;
}