.cell-list-item {
    position: relative;
    margin: 30px 0px
}

.action-bar-wrapper {
    height: 5px;
    width: 100%;
    background-color: black;
}

.action-bar-wrapper:hover {
    height: 20px;
    transition: height .3s ease-in-out 0.1;
}