.editor-wrapper {
    position: relative;
    height: 100%;
    width: calc(100% - 15px);


}

.editor-wrapper .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.editor-wrapper .button-clear {
    position: absolute;
    top: 5px;
    right: 80px;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;

}

.editor-wrapper:hover .button-format {
    opacity: 1;
}

.editor-wrapper:hover .button-clear {
    opacity: 1;
}

.badge {
    background-color: rgb(252, 188, 52);
    color: black
}