.w-md-editor .title {
    line-height: unset;
    font-size: 4rem;
    font-weight: unset;
}

.w-md-editor-toolbar ul {
    line-height: 1.0;
}

.text-editor .w-md-editor-bar svg {
    display: none;
}

.text-editor .w-md-editor-bar {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
    height: 11px;
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    position: relative
}


.w-md-editor .title {
    line-height: unset;
    font-size: unset;
    font-weight: unset;

}

.w-md-editor ul {
    line-height: 1;
}

.text-editor .w-md-editor-bar svg {
    display: none;
}

.text-editor .w-md-editor-bar {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    height: 11px;
    cursor: row-resize;
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    position: relative;
}

.text-editor em {
    font-style: italic;
}

.text-editor .wmde-markdown hr {
    /* border-top: 1px solid #dee5ed; */
    color: #37414b;

}

.text-editor .wmde-markdown ol {
    list-style: decimal;
}

.text-editor .w-md-editor-show-live {
    /* Hide menu bar buttons to prevent accidental delete */
    z-index: 20;
}

.text-editor .w-md-editor-toolbar {
    background-color: #37414b;
    border-bottom: 1px solid gray;
}

.text-editor .w-md-editor-toolbar li button {
    color: inherit;
}

.text-editor .w-md-editor-content {
    background-color: inherit;
    color: inherit
}

.text-editor .w-md-editor,
.text-editor .w-md-editor .w-md-editor-text-pre {
    color: inherit
}

.text-editor .w-md-editor-text-pre .bold {
    color: white
}

.text-editor .token.list.punctuation {
    background-color: unset;
}


.text-editor {


}

code {
    opacity: 100%;
}

.text-editor-div {
    opacity: 100% important
}

.text-editor .w-md-editor-text-pre {
    opacity: 100%;
    color: white
}

